<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	
<add name="Kharrasov41Entities" connectionString="metadata=res://*/Kharrasov41.csdl|res://*/Kharrasov41.ssdl|res://*/Kharrasov41.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-8\SQLEXPRESS01;initial catalog=Kharrasov41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>